* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "masqualero", sans-serif;
    font-weight: 700;
    font-style: normal;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 

    height: 100vh;
    color:white;
}

#time {
    font-size: 8rem;
}

h1 {
    margin-bottom: 3rem;
}

h2 {
    margin-bottom: 0.5rem;
    opacity: 0.6;
}

.backgroundimage {
    box-sizing: border-box;
    display: flex;
    flex: 100%;
    max-width: 100%;
}

@media (min-width: 700px) {
    #time {
        font-size: 6rem;
    }
    body {
        flex: 100%;
        max-width: 100%;
    }
}
